html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$font: 'Poppins', sans-serif;
$red: #ED1C24;
$blue: #0071BC;
$black: #000000;
$white:#ffffff;
body{
    font-family: $font;
	font-size: 18px;
    
}



.nav{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-transform: capitalize;
	//margin-top: 50px;
	.logo{
		font-weight: 700;
		.top{
			color: $blue;
		}
		.bottom{
			color: $red;
		}
	}
	a{
		text-decoration: none;
		color: $black;
	}
	a:hover{
		color: $blue;
	}
	

	.innerNav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		//width: 600px;
		gap: 20px;
	}
	button{
		border: none;
		font-size: 18px;
		padding: 10px 50px 10px 50px;
		text-transform: capitalize;
		background-color: $blue;
		color: $white;
		border-radius: 5px;
	}
	button:hover{
		background-color: $red;
		transition: ease-in 250ms;
		
	}
}


@media only screen and (min-width: 1024px) {

	.nav{
        display: flex !important;
    }
	.mobileNav{
		display: none;
	}

	.left{
		width: 50%;
	}
	.blob{
		width: 50% !important;
		
	}

	.content{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		h2{
			margin-bottom: 20px !important;
		}
		h1{
			line-height: 1.1 !important;
		}
		padding-bottom: 30px !important;

		a{
			text-decoration: none;
		}


	}

	.fleet{
		margin-top: 70px;
		h1{
			margin-bottom: 50px;
		}
		
		.box p {
			
			margin-top: 400px !important;
			//background-color: #ED1C24;
		}


	}

	.mySwiper{
		h2{
			margin-top: 50px !important;
			margin-bottom: 30px !important;
			
		}
		p{
			font-size: 16px !important;
			margin-bottom: 30px;
		}
	}

	.flex-container{
		display: flex;
		//justify-content: space-evenly;
		.links{
			margin: 10px 60px;

		}
		

	}

	.bottom-footer{
		margin-top: 50px;
	}

}
@media only screen and (min-width : 1224px) {
	.top-header{
		padding: 80px 160px !important;
		padding-bottom: 0 !important;
		
	}
	.mainContainer {
		padding: 0 160px 80px !important;


	}
	.nav .innerNav{
		gap: 40px;
	}

	.content{
		h2{
			font-size: 30px !important;

		}
		h1{
			font-size: 55px !important;
			font-weight: bold !important;
		}
		// .gatsby-image-wrapper{
		// 	height: 460px;
		// }
		// img{
		// 	height: 460px;
		// }
	}

	.fleet h1{
		margin-bottom: 80px !important;
	}

	.fleet .boxes {
		//display: grid !important;
		grid-template-columns: 1fr 1fr 1fr !important;
	}

	.services .boxes {
		grid-template-columns: 1fr 1fr 1fr 1fr !important;
	}

	.services h1{
		margin: 80px !important;
	}

	.our-mission{
		padding-right: 160px !important;
		padding-left: 160px !important;
	}


	footer{
		padding: 70px 160px 0 160px !important;
	}

	.bottom-footer {
		padding-bottom: 60px !important;
	}


}